# Site settings
title: Stellar Vector Blog
email: blog@stellarvector.be
description: >- # this means to ignore newlines until "baseurl:"
  Welcome on the Stellar Vector blog.
  Stellar Vector is the CTF-team of the imec-DistriNet research group at the KU Leuven,
  located in Belgium.
baseurl: "" # the subpath of your site, e.g. /blog
url: "//blog.stellarvector.be"
permalinks: pretty

collections:
  writeups:
    output: true
    permalink: "/:collection/:path"

# THEME SETTINGS
logo: "/assets/images/logo/stellar-vector-main-round-transparant.png"
color_scheme: light

search_enabled: true

search:
  heading_level: 2
  previews: 5
  preview_words_before: 5
  preview_words_after: 10
  tokenizer_separator: /[\s/]+/
  rel_url: true
  button: true

mermaid:
  # Pick an available version from https://cdn.jsdelivr.net/npm/mermaid/
  version: "9.1.3"

aux_links:
aux_links_new_tab: true
nav_external_links:
  - title: "Github (stellarvector)"
    url: https://github.com/stellarvector/blog
    hide_icon: false
  - title: "Twitter (@stellar_vector)"
    url: https://twitter.com/stellar_vector
    hide_icon: false

heading_anchors: true

callouts:
  warning:
    title: Warning
    color: red
  important:
    title: Important
    color: yellow
  new:
    title: New
    color: green
  note:
    title: Note
    color: blue

just_the_docs:
  collections:
    writeups:
      name: "Writeups"
      nav_exclude: false
      nav_fold: false
      search_exclude: false

# Line number in code snippets (https://just-the-docs.github.io/just-the-docs/docs/ui-components/code/line-numbers/)
compress_html:
  ignore:
    envs: all

kramdown:
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Build settings
remote_theme: just-the-docs/just-the-docs
plugins:
  - jekyll-feed
  - jekyll-remote-theme

exclude:
   - .sass-cache/
   - .jekyll-cache/
   - gemfiles/
   - Gemfile
   - Gemfile.lock
   - node_modules/
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/
  # specific to the theme website:
   - bin/
   - lib/
   - "*.gemspec"
   - "*.gem"
   - LICENSE.txt
   - package.json
   - package-lock.json
   - Rakefile
   - README.md
   - sv-commands.sh
