$sv-red: #b21010;
$sv-red-transparent: #b2101044;

.tag,
.category {
    border-radius: 4px;
    background: $feedback-color;
    color: $sv-red;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    text-transform: uppercase;

    .material-symbols-rounded {
        font-size: 18px;
    }
}

.highlight {
    border-radius: 4px;
}

.btn-flush {
    @extend .btn;

    color: $sv-red;

    box-shadow: none;
    font-size: 12px;
    text-transform: uppercase;

    .inactive {
        pointer-events: none;
    }

    &:hover {
        color: $sv-red;
    }
}

.square-btn {
    @extend .btn-flush;
    height: 50px;
    line-height: 50px;
    width: 50px;

    display: inline-flex;
    align-items: center;
}

a,
.nav-list .nav-list-item .nav-list-expander,
.nav-list.nav-category-list>.nav-list-item>.nav-list>.nav-list-item>.nav-list-link,
.icon {
    color: $body-text-color;
    &:not([class]):hover {
        text-decoration-color: $body-text-color;
    }
}

img {
    border-radius: 4px;
}

h1 {
    font-weight: bold;
}

p:has(img) {
    margin-bottom: 0px;

    &:not(.no-center) {
        text-align: center;
    }
}

figcaption,
.caption {
    text-align: center;
    color: $search-result-preview-color;
    font-style: italic;
    margin-top: 0;
}


#front-matter-box {
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

    #author-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        > div {
            display: flex;
            align-items: center;
            gap: 15px;

            .author-profile-image {
                border-radius: 100%;
                height: 50px;
                width: 50px;
            }

            .link-or-name {
                margin: 0;
                letter-spacing: 1px;
                font-weight: 700;
                font-size: large;

                #author-link {
                    color: $body-heading-color;
                    font-size: large;

                    .material-symbols-rounded {
                        font-size: small;
                    }
                }
            }

            .published-at-info {
                margin: 0;
                font-size: smaller;
                color: $search-result-preview-color;

                span {
                    text-transform: capitalize;
                }
            }
        }
    }

    .actions {
        min-width: 160px;
    }

    #tagbox {
        display: flex;
        justify-content: flex-start;
        align-items: end;
        gap: 6px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    #front-matter-box {
        flex-direction: column;
    }
}

.page-title {
    margin-top: 0.5em !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: xxx-large !important;
}

.page-subtitle {
    color: $search-result-preview-color;
    font-size: medium;
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
}

.main-content h1 {
    margin-top: 1em;
}

#search-button {
    border-color: $sv-red-transparent;
}

@import "print.scss";
