---
layout: writeup
parent: <ctf>
grand_parent: <year>
author: <author_username>
category: <category>
tags: <tags>
title: "<challenge>"
subtitle: "<subtitle>"
write_date: <date>
last_edit_date:
---

Write your writeup here...

The markdown you can use is here: https://just-the-docs.github.io/just-the-docs/
