---
layout: default
title: Categories
permalink: /categories
nav_order: 2
search_exclude: true
---

<h1>Categories</h1>

{% assign categories =  site.writeups | map: 'category' | join: ','  | split: ',' | uniq | sort %}

{% assign nb_categories = categories | size %}
{% if nb_categories == 0 %}
  <p>Categories will appear here once writeups are published.</p>
{% else %}
  {% for category in categories %}
    {% assign category_name_size = category | size %}
    {% if category_name_size != 0 %}
        <h3 id="{{ category }}" class="category px-4 py-2"><span class="material-symbols-rounded">category</span>{{ category }}</h3>
        <ul>
        {% for writeup in site.writeups %}
        {% if writeup.category contains category %}
            <li><a href="{{ site.baseurl }}{{ writeup.url }}">{{ writeup.grand_parent }} / {{ writeup.parent }} / {{ writeup.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
  {% endfor %}
{% endif %}
