---
layout: default
title: Tags
permalink: /tags
nav_order: 3
search_exclude: true
---

<h1>Tags</h1>

{% assign tags =  site.writeups | map: 'tags' | join: ','  | split: ',' | uniq | sort %}

{% assign nb_tags = tags | size %}
{% if nb_tags == 0 %}
  <p>Tags will appear here once writeups are published.</p>
{% else %}
  {% for tag in tags %}
    <h3 id="{{ tag }}" class="tag px-4 py-2">
      <span class="material-symbols-rounded">sell</span>
      {{ tag }}
    </h3>
    <ul>
    {% for writeup in site.writeups %}
      {% if writeup.tags contains tag %}
        <li><a href="{{ site.baseurl }}{{ writeup.url }}">{{ writeup.grand_parent }} / {{ writeup.parent }} / {{ writeup.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
{% endif %}
